<div class="align-content-end">
    @if (User.Identity.IsAuthenticated)
    {
        <p>@User.Identity.Name, you are logged in</p>
    }
    else
    {
        <a asp-area="Identity" asp-page="/Account/Login">Sign in</a>
    }
</div>