@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>City Breaks</h1>
<div class="container">
    <div class="row">
        <cache>
            <vc:cities />
        </cache>       
    </div>
</div>