@page
@model CityBreaks.Pages.LoginModel
@{
}
<div class="col-4">
	<form method="post">
		<div class="mb-3">
			<label class="form-label" asp-for="UserName"></label>
			<input class="form-control" asp-for="UserName" />
		</div>
		<div class="mb-3">
			<button class="btn btn-outline-primary">Sign in</button>
		</div>
	</form>
</div>