@page "{id:int}"
@model CityBreaks.Pages.PropertyManager.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Property</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input type="hidden" asp-for="Property.Id" />*@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityId" class="control-label"></label>
                <select asp-for="CityId" class="form-control" asp-items="Model.Cities"></select>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxNumberOfGuests" class="control-label"></label>
                <input asp-for="MaxNumberOfGuests" class="form-control" />
                <span asp-validation-for="MaxNumberOfGuests" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayRate" class="control-label"></label>
                <input asp-for="DayRate" class="form-control" />
                <span asp-validation-for="DayRate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SmokingPermitted" /> @Html.DisplayNameFor(model => model.SmokingPermitted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AvailableFrom" class="control-label"></label>
                <input asp-for="AvailableFrom" class="form-control" />
                <span asp-validation-for="AvailableFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
