@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="col-4">
    <form method="post">
        <div class="mb-3">
            <label class="form-label" asp-for="SelectedCities"></label>
            <select class="form-control" asp-for="SelectedCities" asp-items="Model.Cities"></select>
        </div>

        <div class="mb-3">
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
<p>@Model.Message</p>