<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <header class="card alert-success border-5 p-3 mt-3">Header</header>
        <nav class="card alert-primary border-5 p-3 mt-2">Navigation</nav>
        <div class="row mt-2">
            <div class="col-3">
                <div class="card alert-warning p-5 border-5">
                    Deal Of The Day Widget 1
                </div>
                <div class="card alert-danger p-5 border-5 mt-2">
                    @if (IsSectionDefined("ThingsToDoWidget"))
                    {
                        @await RenderSectionAsync("ThingsToDoWidget")
                    }
                    else
                    {
                        <p>Things To Do Widget default content</p>
                    }
                </div>
            </div>
            <div class="col-9 card border-5">
                @RenderBody()
            </div>
        </div>
        <footer class="card border-5 p-3 mt-2">Footer</footer>
    </div>
</body>
</html>