@page
@model CityBreaks.Pages.CountryManager.CreateModel
@{
}

<h4>Create Countries</h4>

<div class="row">
    <div class="col-md-8">
        <form method="post">
            <table class="table table-borderless">
                <tr>
                    <th>Name</th>
                    <th>ISO-3166-1 Code</th>
                </tr>
                @for (var i = 0; i < 5; i++)
                {
                    <tr>
                        <td class="w-75">
                        <input name="Inputs[@i].CountryName" class="form-control" />
                    </td>
                        <td class="w-25">
                        <input name="Inputs[@i].CountryCode" class="form-control" />
                    </td>
                    </tr>
                }
            </table>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@if (Model.Countries.Any())
{
    <p>You submitted the following</p>
    <ul>
    @foreach (var country in Model.Countries)
    {
        <li>
            <img src="/images/flags/@(country.CountryCode).png" /> @country.CountryName
        </li>
    }
    </ul>
}