@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@if (Model.Result != null)
{
    <div class="alert alert-@(Model.Result == "Success" ? "success" : "danger") col-4">@Model.Result</div>
}
<form method="post" class="col-4">
    <input asp-for="HashedPassword" value="@Model.HashedPassword" />
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group mt-3">
        <button class="btn btn-sm btn-success">Submit</button>
    </div>
</form>